

<ion-content [fullscreen]="true">
  <ion-card>
      
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"/>

    <ion-card-header>
      <ion-card-title>RegistrAPP</ion-card-title>
    
    </ion-card-header>
  
    <ion-card-content>

      
      <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
      <ion-input label="Alumno" [(ngModel)]="inputValue" (input)="checkFieldLength()" labelPlacement="stacked" placeholder="Ingrese usuario"  minlength="1" ></ion-input>
      <ion-input label="Password" [(ngModel)]="inputValue2" (input)="checkFieldLength2()"  labelPlacement="stacked" placeholder="Ingrese contraseña" type="Password" minlength="1" ></ion-input>
      <ion-button color="secondary" [disabled]="shouldDisableButton()" size="default" (click)="Ingresar()">Ingresar</ion-button> <mat-checkbox class="example-margin">Recordarme</mat-checkbox>


    </ion-card-content>

    <ion-card-content>
      
      <button mat-button color="warn" (click)="Recuperarcontrasena()">Recuperar contraseña</button>
    </ion-card-content>

  </ion-card>


</ion-content>
