

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-header>
      <ion-card-title>RegistrAPP</ion-card-title>
    
    </ion-card-header>
  
    <ion-card-content>

      
      <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
      <ion-input label="Alumno" [(ngModel)]="inputValue" (input)="checkFieldLength()" labelPlacement="stacked" placeholder="Ingrese usuario"  minlength="1" ></ion-input>
      <ion-input label="Password" [(ngModel)]="inputValue2" (input)="checkFieldLength2()"  labelPlacement="stacked" placeholder="Ingrese contraseña" type="Password" minlength="1" ></ion-input>
      <ion-button  color="secondary" [disabled]="shouldDisableButton()" expand="block"(click)="Ingresar()">Ingresar</ion-button>
      <section>
        <div class="example-button-row">
         <button mat-button color="primary">Recuperar contraseña</button>
         </div>
      </section>
      
    
    </ion-card-content>
  </ion-card>


</ion-content>
